* {
    box-sizing: border-box;
    margin: 0;
    font-family: Merienda;
}

:root {
    --background-header: hsl(197, 76%, 48%);
    --accent-light: hsl(0, 0%, 100%);
    --accent-dark: hsl(0, 0%, 0%);

    --gap-small: 1rem;
    --gap-medium: 1.5rem;

    --border-radius-button: 50px;
    --border-radius-circle: 50%;

    --text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;;
}

@font-face {
    font-family: Merienda;
    src: url(/MeriendaOne-Regular.woff);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: var(--background-header);
    color: var(--accent-light);
    text-shadow: var(--text-shadow);
    font-size: 1.25em;
}

main {
    background-image: url(/sand.jpg);

    .filters {
        display: flex;
        justify-content: center;
        gap: var(--gap-medium);
        padding: 0;
        flex-wrap: wrap;

        li {
            list-style-type: none;
            margin-top: 1.5rem;
            
            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 30px;
                text-decoration: none;
                color: var(--accent-dark);
                background-color: var(--accent-light);
                border-radius: var(--border-radius-button);
            }
        }
    }

    form {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        gap: var(--gap-small)
    }

    .figure-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        figure {
            position: relative;
            background-image: url("/shell.png");
            background-repeat: no-repeat;

            width: 290px;
            height: 300px;
            margin: 1.5rem 0 1.5rem 0;

            .id {
                position: absolute;
                top: 25%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .birthdate {
                position: absolute;
                width: max-content;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 100px;
                height: 100px;
                border-radius: var(--border-radius-circle);
                overflow: hidden;

                display: flex;
                align-items: center;
                justify-content: center;
                border: solid var(--accent-light);

                .profile-link {
                    display: inline;
                    width: 100%;
                    height: 100%;
                    
                    .mugshots, .patrick {
                        top: 50%;
                        left: 50%;

                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}