* {
    box-sizing: border-box;
    margin: 0;
    font-family: Merienda;
}

@font-face {
    font-family: Merienda;
    src: url(/MeriendaOne-Regular.woff);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #1da2d8;
    color: white;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;;
    font-size: 1.25em;
}

main {
    background-image: url(/sand.jpg);

    form {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        gap: 1rem;
    }

    .figure-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        figure {
            position: relative;

            background-image: url("/shell.png");
            background-repeat: no-repeat;

            width: 290px;
            height: 300px;
            margin: 1.5rem 0 1.5rem 0;

            div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 100px;
                height: 100px;
                border-radius: 50%;
                overflow: hidden;

                display: flex;
                align-items: center;
                justify-content: center;
                border: solid white;

                .profile-link {
                    display: inline;
                    width: 100%;
                    height: 100%;

                    .mugshots {
                        top: 50%;
                        left: 50%;

                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}